@import "fonts";
@import "slider";

* {
    box-sizing: border-box; }

body {
    margin: 0; }

@media only screen and (min-device-width: 1025px) {
    * {
        box-sizing: border-box;
    }
    body {
        background-color: #fafafa;
        display: block;
    }
    #index html {
        background: url(../img/image-2.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }

    #loading {

        position: fixed;
        z-index: 9999;
        background: url('../img/loading.gif') 50% 50% no-repeat;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        cursor: wait;

    }

    aside.menu {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 90px;
        z-index: 10;
        font-size: 0;
    }
    aside.menu .content {
        position: absolute;
        top: 0;
        right: -1px;
        bottom: 0;
        left: -1px;
        background: #fff;
        z-index: 0;
    }
    /*C*/
    aside.menu .top-buttons {
        position: absolute;
        top: 45px;
        left: 35px;
        width: 100%;
        z-index: 1;
    }
    aside.menu .top-buttons a {
        text-decoration: none;
        color: #b7b7b7;
        text-decoration: none;
        font-family: 'playfair_displayblack';
        font-weight: 600;
        font-size: 18px;
    }
    aside.menu .top-buttons a:hover {
        text-decoration: none;
        color: #b7b7b7;
        text-decoration: none;
        font-family: 'playfair_displayblack';
        font-weight: 600;
        font-size: 18px;
        opacity: 0.5
    }
    /*middle*/
    aside.menu .middle-buttons a {
        text-decoration: none;
        color: #b7b7b7;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 11px;
        vertical-align: baseline;
        letter-spacing: 0.3em;
    }

    aside.menu .middle-buttons a:hover {
        text-decoration: none;
        color: #b7b7b7;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 11px;
        vertical-align: baseline;
        letter-spacing: 0.3em;
        opacity: 0.5
    }
    aside.menu .middle-buttons {
        position: absolute;
        top: 50%;
        left: 47%;
        width: 800px;
        margin: -45px 0 0 -400px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    aside.menu .middle-buttons ul {
        text-align: center;
    }
    aside.menu .middle-buttons ul li {
        display: inline-block;
        padding-left: 20px;
    }
    /*RS*/
    aside.menu .bas-buttons {
        text-align: center;
        position: absolute;
        bottom: 45px;
        right: 22px;
        width: 100%;
        z-index: 1;
    }
    aside.menu .bas-buttons a {
        text-align: center;
        text-decoration: none;
        color: #b7b7b7;
        font-family: 'playfair_displayblack';
        font-weight: 400;
        font-size: 13px;
    }

    aside.menu .bas-buttons a:hover {
        text-decoration: none;
        color: #b7b7b7;
        opacity: 0.5;
        font-family: 'playfair_displayblack';
        font-weight: 400;
        font-size: 13px;
    }

    aside.menu .bas-buttons ul {
        text-align: center;
    }
    aside.menu .bas-buttons ul li {
        margin-top: 15px;
    }

    /* nom */

    .heading #titre_home_apparition {
        color: #202020;
        font-family: 'playfair_displaybold';
        font-weight: 600;
        font-size: 3.7vw;
        letter-spacing: 0.12em;
        text-align: left;

    }
    .heading p {
        color: #202020;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 1.5vw;
        letter-spacing: 0.2em;
        line-height: 1.8em;
        margin-top: 18px;

    }
    a {
        text-decoration: none;
    }

    .home_losange {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 30px;
        height: 30px;
    }

#open-work-home {

        text-decoration: none;
        color: #202020;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.15em;
        padding-bottom: 8px;
        display: inline-block;
        position: absolute;
        right: 0;
        margin-top: 4%;
        margin-right: 40%;
    }

#open-work-home:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    transition: width 0s ease;
}
#open-work-home:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #ea9b7c;
    transition: width .5s ease;
}
#open-work-home:hover:before {
    width: 0%;
    background: #ea9b7c;
    transition: width .5s ease;
}
#open-work-home:hover:after {
    width: 0%;
    background: transparent;
    transition: width 0s ease;
}


    .heading {
        position: absolute;
        z-index: 1;

        top: 45%;
        left: 50%;

        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .home_image {
        width: 40%;
        //height: 50%;

        position: absolute;
        z-index: 0;
        top: 50%;
        left: 15%;

        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    /* ABOUT */

    .close-contact {
        font-family: 'Lato';
        font-weight: 400;
        font-size: 20px;
    }

    #about {
        height: 100vh;
        width: 100vw;
        background-color: #FAFAFA;
        position: absolute;
        z-index: 99;
        bottom: 0;
        margin-left: 0;
        border: solid;
        border-width: 15px;
        border-color: white;
    }

    #contact_description {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 30%;
        margin-top: 7%;
        text-align: center;
        width: 40%

    }

    #contact_description p {
        color: #9B9B9B;
        font-family: 'playfair_displayregular';
        font-weight: 200;
        font-size: 1.3vw;
        letter-spacing: 0.2em;
        line-height: 2.6vw;
        margin-top: 10px;
    }

      .about_subtitle {
        color: #b7b7b7;
        font-family: 'Lato';
        font-weight: 400;
        letter-spacing: 0.2em;
        font-size: 1vw;
    }


    #titre_about {
        color: #202020;
        font-family: 'playfair_displaybold';
        font-weight: 400;
        font-size: 6.5vw;
        letter-spacing: 0.1em;
        margin-top: 20px;
        margin-bottom: 30px;
}
    #about_trait1 {
        width: 22px;
        height: 3px;
        background-color: #ea9b7c;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #about_num {
        line-height: 4.5em;
        color: #b7b7b7;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1vw;
        letter-spacing: 0.16em;
        line-height: 1.8em;
        display: flex;
        position: absolute;
        bottom: 0;
        margin-left:33%;        
        margin-bottom: 7%;
        width: 90%;
    }

    #about_liens{
     margin-right: 10%;
    }

    #about_rs{
    margin-right: 10%;
    }

    #made{
        font-family: 'Lato', sans-serif;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0.13em;
        position: absolute;
        bottom: 0;
        margin-bottom: 2%;
        margin-left: 2%;
        color: #b7b7b7;
        opacity: 0.3;
    }

    #about_logo {
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 10%;
        margin-left: 20%;
    }

    /* bouton */
    .bouton a {
        text-decoration: none;
        color: #202020;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 11px;
        margin-bottom-bottom: 7px;

    }

.bouton a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    transition: width 0s ease;
}
.bouton a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #ea9b7c;
    transition: width .5s ease;
}
.bouton a:hover:before {
    width: 0%;
    background: #ea9b7c;
    transition: width .5s ease;
}
.bouton a:hover:after {
    width: 0%;
    background: transparent;
    transition: width 0s ease;
}

    .bouton {
    position: absolute;
    padding-bottom: 7px;}

#about_rs a{
    text-decoration: none;
       line-height: 4.5em;
        color: #b7b7b7;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1vw;
        letter-spacing: 0.16em;
        line-height: 1.8em;

}
        
#about_rs a:hover{
    opacity: 0.5;
}

    #test p {
        opacity: 0;
        margin-top: 25px;
        font-size: 21px;
        text-align: center;
        -webkit-transition: opacity 2s ease-in;
        -moz-transition: opacity 2s ease-in;
        -o-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
        transition: opacity 2s ease-in;
    }
    ​
    .projet_header_image {
        position: absolute;
        top: 0;
    }
    /* TEXTES */

    .project_image_double {
        margin-top: 10rem;
        max-width: 38%;
        margin-right: 5%;
        display: inline-block;
    }

    .project_subtitle {
        color: #b7b7b7;
        font-family: 'Lato';
        font-weight: 400;
        letter-spacing: 0.2em;
        font-size: 1vw;
    }
    .project_title {
        color: black;
        font-family: 'playfair_displaybold';
        font-weight: 400;
        font-size: 6.5vw;
        letter-spacing: 0.1em;
        margin-top: 20px;
    }

    .projet_contenair {
        background-color: #bec8d4;
        width: 100%;
        height: 10px;
        text-align: center;
        position: absolute;
    }
    .projet_contenair2 {
        background-color: #fcdfd3;
        width: 100%;
        height: 10px;
        text-align: center;
        position: absolute;
    }
    .projet_contenair3 {
        background-color: #a8c2bb;
        width: 100%;
        height: 10px;
        text-align: center;
        position: absolute;
    }
    .projet_contenair4 {
        background-color: #fcdcdd;
        width: 100%;
        height: 10px;
        text-align: center;
        position: absolute;
    }
    .projet_contenair5 {

        background-color: #c1bbee;
        width: 100%;
        height: 10px;
        text-align: center;
        position: absolute;
    }

    .project_description {
        margin-top: 100px;
        color: #9B9B9B;
        font-family: 'playfair_displayregular';
        font-weight: 200;
        font-size: 1.3vw;
        letter-spacing: 0.2em;
        line-height: 2.6vw;
    }
    #projet_header {
        background-color: #fafafa;
        text-align: center;
        padding-right: 20%;
        padding-left: 15%;
        margin-right: 10%;
        margin-left: 10%;
        padding-top: 150px;
        padding-bottom: 100px;
        margin-top: 50px;
    }
    .project_image {
        margin-top: 10rem;
        max-width: 100%;
        vertical-align: middle;
    }

    video #videomix{
        width: 80%;
    }
    /* infos projet */
    .project_info {
        margin-right: 20%;
        margin-left: 15%;
        margin-top: 275px;
        margin-bottom: 100px;
        display: flex;
    }
    .project_type {
        width: 35%;
        color: #b7b7b7;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.2em;
        line-height: 25px;
    }
    .project_date {
        width: 35%;
        margin-left: 45%;
        color: #b7b7b7;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.2em;
        line-height: 25px;
    }
    footer {
        margin-top: 150px;
        background-color: #e3e3e3;
        position: absolute;
        left: 0;
        right: 0;
    }
    .footer_texte {
        color: white;
        font-family: 'Lato';
        font-weight: 200;
        font-size: 10px;
        letter-spacing: 0.2em;
        line-height: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 45px;
    }
    video {
        margin-top: 10rem;

        width: 85%;

    }

    /* SLIDER */

    #open-ephemere {
        text-decoration: none;
        color: black;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.15em;
       padding-bottom: 8px;
        display: inline-block;
        position: relative;
    }

    #open-montgolfiere {
        text-decoration: none;
        color: black;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.15em;
       padding-bottom: 8px;
        display: inline-block;
        position: relative;
    }


    #open-hello {
        text-decoration: none;
        color: black;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.15em;
       padding-bottom: 8px;
        display: inline-block;
        position: relative;
    }

    #open-different {
        text-decoration: none;
        color: black;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.15em;
       padding-bottom: 8px;
        display: inline-block;
        position: relative;
    }

    #open-veille {
        text-decoration: none;
        color: black;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.15em;
        padding-bottom: 8px;
        display: inline-block;
        position: relative;

    }

#open-veille:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    transition: width 0s ease;
}
#open-veille:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #ea9b7c;
    transition: width .5s ease;
}
#open-veille:hover:before {
    width: 0%;
    background: #ea9b7c;
    transition: width .5s ease;
}
#open-veille:hover:after {
    width: 0%;
    background: transparent;
    transition: width 0s ease;
}



#open-different:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    transition: width 0s ease;
}
#open-different:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #ea9b7c;
    transition: width .5s ease;
}
#open-different:hover:before {
    width: 0%;
    background: #ea9b7c;
    transition: width .5s ease;
}
#open-different:hover:after {
    width: 0%;
    background: transparent;
    transition: width 0s ease;
}

#open-ephemere:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    transition: width 0s ease;
}
#open-ephemere:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #ea9b7c;
    transition: width .5s ease;
}
#open-ephemere:hover:before {
    width: 0%;
    background: #ea9b7c;
    transition: width .5s ease;
}
#open-ephemere:hover:after {
    width: 0%;
    background: transparent;
    transition: width 0s ease;
}


#open-hello:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    transition: width 0s ease;
}
#open-hello:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #ea9b7c;
    transition: width .5s ease;
}
#open-hello:hover:before {
    width: 0%;
    background: #ea9b7c;
    transition: width .5s ease;
}
#open-hello:hover:after {
    width: 0%;
    background: transparent;
    transition: width 0s ease;
}

#open-montgolfiere:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    transition: width 0s ease;
}
#open-montgolfiere:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #ea9b7c;
    transition: width .5s ease;
}
#open-montgolfiere:hover:before {
    width: 0%;
    background: #ea9b7c;
    transition: width .5s ease;
}
#open-montgolfiere:hover:after {
    width: 0%;
    background: transparent;
    transition: width 0s ease;
}



    .link_button_container {
        margin-top: 25%;
        text-align: center;
    }

    .project_slide_title {
        color: #202020;
        font-family: 'playfair_displaybold';
        font-weight: 600;
        font-size: 3.9vw;
        letter-spacing: 0.12em;
        line-height: 60px;


        padding-top: 75px;
        margin-top: -75px;

        padding-bottom: 75px;
        margin-bottom: -75px;

        //&:after {
        //    content: '';
        //    height: 210px;
        //    width: 226px;
        //    position: absolute;
        //    top: -50%;
        //    left: 50%;
        //    margin-top: 25px;
        //    margin-left: -113px;
        //}
    }
    .project_slide_description {
        font-family: 'lato';
        font-size: 1vw;
        letter-spacing: 0.2em;
        margin-top: 25px;
        margin-bottom: 50px;
        color: #b7b7b7;
        font-weight: 400;
    }

    .project_slide_header {
        text-align: center;
        position: absolute;
        width: 25%;
        top: 50%;
        right: 15%;

        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);

    }

    .project_slide_num {
        position: absolute;
        right: 0;
        margin-right: 21%;
        color: black;
        font-family: 'lato';
        font-weight: 200;
        font-size: 0.8vw;
        letter-spacing: 0.2em;
        line-height: 2.5vw;
        bottom: 0;
        bottom: 10%;
        cursor: pointer;


        span:hover {
            font-weight: 600;
        }

        span.active {
            font-weight: 600;
        }

        span{
            margin-right: 9px;
        }
    }

    .fleche_img:hover {
        margin-left: 5px;
    }

    .project_slider {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;

    }

    .project_slide {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;

        overflow: hidden;
    }

    .fleche_img {
        vertical-align: top;
    }

    #project_veille {
        background-image: url("../img/slider/veille3.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        height: 100%;
    }

    #project_ephemere {
        background-image: url("../img/slider/ephemere5.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        height: 100%;
    }

    #project_hello {
        background-image: url("../img/slider/hello3.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        height: 100%;
    }

    #project_different {
        background-image: url("../img/slider/different3.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        height: 100%;

    }

    #project_montgolfiere {
        background-image: url("../img/slider/goodmorning3.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        height: 100%;
    }

    #ephemere .projet_contenair {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
    }

    #different .projet_contenair2 {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
    }

    #hello .projet_contenair2 {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
    }
    #montgolfiere .projet_contenair4 {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
    }
    #veille .projet_contenair3 {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
    }


    #home {
        display: none;
        width: 100%;
        height: 100%;
        background-image: url("../img/fond-3.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: 100% 100%;
    }

    #about {
        display: none;
    }

    #ephemere {
        display: none;
    }

    #work_page {
        display: none;
    }

    #different {
        display: none;
    }
    #veille {
        display: none;
    }
    #montgolfiere {
        display: none;
    }
    #hello {
        display: none;
    }

    #project_different {
        display: none;
    }

    #project_veille {
        display: none;
    }

    #project_montgolfiere {
        display: none;
    }

    #project_hello {
        display: none;
    }

    a {
        cursor: pointer;
    }

}

@import "works";

